.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "IRAN-Sans-Regular";
  src: url("font/IRANSansRegular/@font-face/0b0a8c345731751b990403a2cf40fbec.eot"); /* IE9*/
  src: url("font/IRANSansRegular/@font-face/0b0a8c345731751b990403a2cf40fbec.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("font/IRANSansRegular/@font-face/0b0a8c345731751b990403a2cf40fbec.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("font/IRANSansRegular/@font-face/0b0a8c345731751b990403a2cf40fbec.woff")
      format("woff"),
    /* chrome、firefox */
      url("font/IRANSansRegular/@font-face/0b0a8c345731751b990403a2cf40fbec.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("font/IRANSansRegular/@font-face/0b0a8c345731751b990403a2cf40fbec.svg#IRAN Sans Regular")
      format("svg"); /* iOS 4.1- */
}
body {
  direction: rtl;
}
* {
  font-family: "IRAN-Sans-Regular";
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

ul {
  /* height: 50px; */
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  transition: 0.5s;
}

li a:hover {
  cursor: pointer;
  background-color: #111111;
}

.imageLogoBody {
  /* filter: drop-shadow(0px 0px 6px gray); */
  width: 150px;
}
.imageLogo {
  filter: drop-shadow(0px 0px 6px rgb(255, 208, 0));

  position: absolute;
  // background-image: url("/image/center-logo.png");
  //  background-color:rgb(255, 208, 0);
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageLogo:hover {
  filter: drop-shadow(0px 0px 6px gray);

  background-color: transparent;
}
// foad-header.png
.mainBox {
  z-index: 1;
  top: 0;
  // background-image: url("./images/foad-header.png");
  background-color: rgb(255, 208, 0);
  height: 100vh;
  // width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .center-box {
    padding: 30vw 0;
    .white-text {
      color: white;
    }
    .rounded-custom {
      border-radius: 30px;
    }
    .berger {
      width: 50vw;
      margin: 0 2vw;
      float: left;
    }
  }
}

.LoginBox {
  // margin: 50px 82vw 0 5vw;
  left: 5vw;
  i,
  div i,
  div {
    filter: drop-shadow(0 0 2px gray);
    padding: 12px 10px;
    transition: 0.2s;
  }
  :hover {
    cursor: pointer;
    text-shadow: 0 0 2px rgb(0, 0, 0);
  }
}
.OrderByTell {
  // margin: 50px 5vw 0 5vw;
  right: 5vw;
  padding: 3px 10px;
  height: 55px;
  text-shadow: 0 0 4px rgb(199, 194, 194);
  :hover {
    cursor: pointer;
  }
  span:hover,
  p:hover {
    color: red;
    text-shadow: 0 0 4px rgb(199, 194, 194);
  }
}

.LoginBox,
.OrderByTell {
  top: 100px;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px #bfbaba;
  white-space: nowrap;
}

.quickMenu {
  position: absolute;
  // margin: 150px 5vw;
  left: 5vw;
  top: 180px;
  width: 90vw;
  background-color: #fccc4c;
  box-shadow: 0 0 20px 0px #c38610;
  li a {
    color: #111111 !important;
    font-size: 1.5em;
    transition: 0.2s;
  }
  li a:hover {
    cursor: pointer;
    background-color: #f6bf28;
    text-shadow: 0 0 5px rgb(0, 0, 0);
  }
}

.mainTopMenu {
  height: 50px;
  margin-bottom: 0;
}
.mainTopMenu,
.quickMenu {
  z-index: 10000;
}

.SpecialOffer ,.Products{
  padding: 5vw;
  font-weight: bold;
}
.Products{
  // margin-top: 100px;
}

.card {
  transition: 0.3s;
  transform: scale(0.96);
  .like{
    color: #ff0000;
  }
}
.card:hover {
  transform: scale(.99);
  cursor: pointer;
  box-shadow: 0 0 10px rgb(161, 156, 156);
}

.TwoOffer {
  background-color: #3c2118;
  color: white;
  padding: 10vw 5vw;
  h1 {
    span {
      color: red;
    }
  }
  .offer-box {
    padding: 5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .shap {
      width: 280px;
      height: 280px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      font-size: 2em;
      color: yellow;
    }
    div {
      // width: 40vw;

      img {
        width: 30vw;

        // height: 40vw;
        background-color: #361e14;
      }
    }
  }
}

.Products {
  margin-top: 200px;
}



.shop-list-items {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999999;
  color: #111111;
  .badge-pill {
    font-size: 1em;
    color: #ff0000;
  }
}
